<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p>
    Currently Unable to access the ICCE application. Please insure each of the following is true:  
  </p>
  <p>
    1. Have you plugged in your phone using the USB Cable?
    <br>
    2. Have you launched the ICCE application on your mobile phone?
    <br>
    3. Have you selected the Remote Authentication option from the ICCE app main menu (located in the upper left corner)?
  </p>
  <div class="btn btn-primary" (click)="login()">
    TRY AGAIN
  </div>      
</div>
  